<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Dan Corrigan</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="/image/png" href="/images/theme/gray.png">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,300italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <%= stylesheet_link_tag :app %>

    <!-- JS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  </head>
  <body>
    <div class="main container">
      <div class="three columns">
        <%= partial("layouts/partials/header") %>
      </div>
      <%= yield %>
    </div>
    <%= partial("layouts/partials/footer") %>
  </body>
</html>
