<% wrap_layout :layout do %>
  <div class="column is-6 is-offset-3">
    <%= yield %>
  </div>
  <div class="column is-3">
    <% if content_for?(:third_col) %>
      <%= yield_content(:third_col) %>
    <% else %>
      &#xa0;
    <% end %>
  </div>
<% end %>
