<figure class="focus-img image columns is-gapless">
  <% path = art_image_for(focus_img.num) %>
  <% dims = image_dims(path) %>

  <div class="column is-9">
    <img src="<%= path %>">
  </div>
  <div class="column is-3">
    <figcaption class="focus-img-cap">
      <p class="focus-title"><%= focus_img.title %></p>
      <p class="focus-dims"><%= focus_img.dims %></p>
      <p class="focus-descrip"><%= focus_img.description %></p>
    </figcaption>
  </div>
</figure>
