<div class="focus-container">
  <figure class="focus-img">
    <img class="u-max-full-width" src="<%= art_image_for(focus_img.num) %>">
    <figcaption class="focus-img-cap">
    <p class="focus-title"><%= focus_img.title %></p>
    <p class="focus-dims"><%= focus_img.dims %></p>
    <p class="focus-descrip"><%= focus_img.description %></p>
    </figcaption>
  </figure>
</div>
