<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <a class="button" href="https://twitter.com/corr_ed" class="twitter-follow-button" data-show-count="false">Twitter</a>
        <a class="button" href="https://github.com/dcorrigan">Github</a>
        <a class="button" href="mailto:df.corrigan@gmail.com">df.corrigan@gmail.com</a>
      </p>
      <p>
        <small>
          &#xa9; Dan Corrigan, 2016
        </small>
      </p>
    </div>
  </div>
</footer>
