<footer class="main-footer">
  <div class="footer container">
    <div class="footer-text row">
      <ul>
        <li>
          <a class="button" href="https://twitter.com/corr_ed" class="twitter-follow-button" data-show-count="false">Twitter</a>
        </li>
        <li>
          <a class="button" href="https://github.com/dcorrigan">Github</a>
        </li>
        <li>
          <a class="button" href="mailto:df.corrigan@gmail.com">df.corrigan@gmail.com</a>
        </li>
      </ul>
    </div>
    <div class="footer-copy row">
      <small>
        <a href="/colophon.html">Colophon</a><span class="wide-char">&#xa0;|</span>&#xa9; Dan Corrigan, 2016 
      </small>
    </div>
  </div>
</footer>
