<header class="main">
  <h1>
    <a href="/">
      Dan Corrigan
    </a>
  </h1>
  <%= partial("layouts/ornaments/angled_pointer") %>
  <nav>
    <ul>
      <li><a href="/art.html">Art</a></li>
      <li><a href="/blog/">Blog</a></li>
      <%# <li><a href="/colophon">Colophon</a></li> %>
      <%# <li><a href="/experiments">Experiments</a></li> %>
    </ul>
  </nav>
</header>
