<main class="colophon">
  <div class="main container">
    <div class="row">
      <div class="two columns">
        &#xa0;
      </div>
      <div class="eight columns">
        <article class="colophon-text">
          <h1><%= partial("layouts/ornaments/doodad") %> Colophon</h1>
          <p>This site is set in <a href="https://www.google.com/fonts/specimen/Lato" title="Lato Font Page">Lato</a>, a Google font designed by Łukasz Dziedzic.</p>
          <p>The typographic ornaments are adapted from a set designed by the <a href="https://en.wikipedia.org/wiki/Binny_%26_Ronaldson">MacKeller, Smiths, &amp; Jordan Co. foundry</a>, found in their 1892 <a href="https://archive.org/stream/specimensofprint00mackrich#page/n353/mode/2up," title="combination ornaments in specimen book">specimen book</a>.</p>
          <p>This site is built with <a href="https://www.middlemanapp.com/," title="Middleman site">Middleman</a>.</p>
        </article>
      </div>
      <div class="two columns">
        &#xa0;
      </div>
    </div>
  </div>
</main>
