<main class="welcome">
  <div class="letter-banner">
    <hr>
    <figure>
      <img src="/images/theme/skeleton-letters1605.png">
      <figcaption>
      <i>Skeleton Letters</i>, 6 x 4.5 inches
      </figcaption>
    </figure>
    <hr>
  </div>
  <p>My name is Dan Corrigan. I write code and I make art with books and letters.</p>
</main>
