<main class="is-8 is-offset-2">
  <div class="index-banner">
    <figure>
      <img class="image" src="/images/theme/skeleton-letters1605.png">
      <figcaption>
        <i>Skeleton Letters</i>, 6 x 4.5 inches
      </figcaption>
    </figure>
    <hr>
    <p>My name is Dan Corrigan. I write code and I make art with books and letters.</p>
  </div>
</main>
